# Преобразуем LF в CRLF для всех текстовых файлов.
* text eol=crlf

# Сохраняем LF для статей внутренней справки.
*.html text eol=lf

# Для бинарных файлов никаких преобразований не делать.
*.epf binary
